<div class="site-content">

  <div class="row">
    <div class="col">
      <h1>Event Management</h1>
    </div>

    <div class="col">
      <div class="text-right">

        <button (click)="router.navigate(['events/add-event'])" class="btn btn-primary">
          <i class="las la-plus" style="margin-right: 8px;font-size: 18px;"></i>
          Create Event
        </button>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (navChange)="onTabChange($event)">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Up Coming</a>
          <ng-template ngbNavContent>
            <app-event-card [events]="selectedEvents"></app-event-card>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>In Progress</a>
          <ng-template ngbNavContent>
            <app-event-card [events]="selectedEvents"></app-event-card>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Completed</a>
          <ng-template ngbNavContent>
            <app-event-card [events]="selectedEvents"></app-event-card>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>

</div>
