<div class="site-content">
  <div class="row title-cont">
    <div class="col">
      <h1>Admin Management</h1>
    </div>
    <div class="col">
      <div class="text-right">
        <button (click)="router.navigate(['add-admin'])"
                class="btn btn-primary">
          Add Admin
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-cont">
      <div class="row ml-3">
        <div class="col-3">
          <div class="input-group search align-content-center">
            <span class="input-group-prepend"><img src="assets/img/search.svg"></span>
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </div>
      </div>
      <div class="product-users-table table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let admin of admins; index as i">
            <td>{{i+1}}</td>
            <td>{{admin.userName}}</td>
            <td>{{admin.userEmail}}</td>
            <td>{{admin.role}}</td>
            <td>
              <div class="d-flex justify-content-around action-icon">
                <i title="Edit Admin" class="fa fa-edit" aria-hidden="true"
                   (click)="router.navigate(['/edit-admin', admin.userId])"></i>
                <i title="Delete Admin" class="fa fa-trash" aria-hidden="true" (click)="requestDelete(admin.userId,content)"></i>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-pagination (onRequest)="getAdmins($event)" [page]="page" [totalPages]="totalPages"></app-pagination>
</div>

<!--modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete ?</strong></p>
  </div>
  <div class="modal-footer">
    <div class="row text-center" style="width: 100%">
      <div class="col">
        <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Cancel</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</ng-template>
