<div class="site-content">

  <div class="row title-cont">
    <div class="col">
      <h1>License Management</h1>
    </div>
    <div class="col">
      <div class="text-right">
        <button (click)="router.navigate(['add-license'])"
                class="btn btn-primary">
          Add
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-cont simtuitive-input">
      <div class="row ml-3">
        <div class="col-3">
          <div class="input-group">
            <input
              type="text"
              (input)="searchLicense($event)"
              placeholder="Search for License"
              class="form-control"
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <img src="assets/img/search.svg">
              </span>
            </div>
          </div>
        </div>
        <!--<label class="col-xl-2 col-lg-2  col-md-12 col-sm-12  col-form-label" style="color:white">Roles</label>-->
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
          <div class="input-group">

            <div class="ng-autocomplete form-control search">
              <ng-autocomplete
                [data]="products"
                (selected)="onProductChange($event)"
                (inputCleared)="onProductChange(null)"
                placeHolder="Filter by Product"
                searchKeyword="name"
                [itemTemplate]="productTemplate"
                [notFoundTemplate]="productNotFoundTemplate"
              >
              </ng-autocomplete>
              <ng-template #productTemplate let-item>
                <a [innerHTML]="item.name" style="color:black;"></a>
              </ng-template>
              <ng-template #productNotFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>

            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-filter"></i>
              </span>
            </div>

          </div>
        </div>
        <!--<label class="col-xl-2 col-lg-2  col-md-12 col-sm-12  col-form-label" style="color:white">Permission Type</label>-->
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
          <div class="input-group">

            <div class="ng-autocomplete form-control search">
              <ng-autocomplete
                [data]="organisations"
                (inputChanged)="findOrganizationName({query: $event})"
                (selected)="onOrganizationChange($event)"
                (inputCleared)="onOrganizationChange(null)"
                placeHolder="Filter by Organization"
                searchKeyword="keyword"
                [itemTemplate]="organizationTemplate"
                [notFoundTemplate]="organizationNotFoundTemplate"
              >
              </ng-autocomplete>
              <ng-template #organizationTemplate let-item>
                <a [innerHTML]="item" style="color:black;"></a>
              </ng-template>
              <ng-template #organizationNotFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>

            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-filter"></i>
              </span>
            </div>

          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
          <ng-select
            [items]="paymentStatuses"
            [closeOnSelect]="true"
            [searchable]="false"
            (change)="onPaymentStatusChange($event)"
            (clear)="onPaymentStatusChange(null)"
            placeholder="Filter by Payment Status"
          >
          </ng-select>
        </div>
      </div>
      <div class="product-users-table table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">License ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Organization Name</th>
            <th scope="col"># of Licenses</th>
            <th scope="col">Selling Price</th>
            <th scope="col">Deal Size</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
         <tbody>
          <tr *ngFor="let license of licenses; index as i">
            <td>{{license.licenseId}}</td>
            <td>{{license.productName}}</td>
            <td>{{license.organization}}</td>
            <td>{{license.numberOfLicense}}</td>
            <td>{{license.creditLimit}} Days</td>
            <td>{{license.dealSize}}</td>
            <td>
              <div class="d-flex justify-content-around action-icon">
                <i title="View License" class="fa fa-eye" aria-hidden="true"
                   (click)="redirectNewTab('/view-license/'+license.licenseId, router)"></i>
                <i title="Edit License" class="fa fa-edit" aria-hidden="true"
                   (click)="router.navigate(['/edit-license',license.licenseId])"></i>
                <i title="Delete License" class="fa fa-trash" aria-hidden="true"
                   (click)="requestDelete(license.licenseId,content)"></i>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <app-pagination (onRequest)="getLicenses($event)" [page]="page" [totalPages]="totalPages"></app-pagination>
</div>
<!--modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do You Want to Delete</p>
  </div>
  <div class="modal-footer">
    <div class="row text-center" style="width: 100%">
      <div class="col">
        <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Cancel</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</ng-template>



