<div class="container-fluid pt-4">
  <div class="row" *ngFor="let event of events;index as i">

    <div class="col-12">
      <div class="row event-header">
        <div class="col">EVENT NAME</div>
        <div class="col">CLIENT NAME</div>
        <div class="col">COURSE</div>
        <div class="col">NO OF DELEGATES</div>
        <div class="col">TOLL STATUS</div>
        <div class="col">PASS CODE</div>
        <div class="col">ACTION</div>
      </div>
    </div>

    <div class="col-12">
      <div class="row event-item">
        <div
          class="col-12"
          (click)="setActiveCollapse(i)"
          [attr.aria-expanded]="i !== activeCollapse"
          aria-controls="i"
        >
          <div class="row">
            <div class="col"><span style="color: #4093D4">{{event.eventName}}</span></div>
            <div class="col">{{event.clientName}}</div>
            <div class="col">{{event.productName}}</div>
            <div class="col">{{event.noOfParticipants}}</div>
            <div class="col">
              <span style="text-transform: capitalize;">{{event.tollPass}}</span>
            </div>
            <div class="col">
              <span style="margin-right: 10px;">{{event.passCode}}</span>
              <i class="lar la-copy copy-icon pointer" (click)="copy(event.passCode)" ></i>
            </div>
            <div class="col" style="vertical-align: middle">
              <div class="pointer" (click)="router.navigate(['events/edit-event', event.eventId])">
                <i class="las la-edit" style="color:var(--primary);font-size: 25px;margin-right: 5px"></i>
                <span style="color: var(--primary);">EDIT</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p><strong>Are you sure you want to Approve ?</strong></p>
  </div>
  <div class="modal-footer">
    <div class="row text-center" style="width: 100%">
      <div class="col">
        <button type="button" class="btn btn-warning"
                (click)="modal.close('Save click')">Cancel</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</ng-template>
