@import "src/assets/scss/variables";
@import "~@ng-select/ng-select/themes/default.theme.css";


.site-content {
  margin-top: 80px;
  padding: 20px;
}

@media (max-width: 768px) {
  .site-content {
    margin-top: 60px;
    padding: 20px;
  }
}

.border-red {
  border: 1px solid $red;
}


/*Table Style*/

.product-users-table {

  background-color: var(--bg-color-secondary) !important;
  margin: 20px 15px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  tbody th, td {
    color: white;
    padding: 20px;
    border: 0 !important;
  }

  thead th {
    color: var(--primary);
    padding: 20px;
    border: 0 !important;
    white-space: nowrap;
  }

  tbody tr {
    background-color: var(--bg-color-primary);
    border-bottom: 20px solid var(--bg-color-secondary);
  }

  .action-icon i {
    cursor: pointer;
  }

}

.table-cont {
  margin-top: 70px;
}

.title-cont {
  padding-left: 20px !important;
  padding-right: 15px !important;
}

/*Product Title*/

.heading {
  color: var(--primary);
  font-weight: Bold;
  font-size: 28px;
  line-height: 33px;
}

.sub-heading {
  color: var(--warning);
  font-size: 22px;
  line-height: 28px;
}


/*Button*/
.btn {
  box-shadow: none !important;

  &.btn-primary {
    color: var(--light);
    border-color: var(--primary) !important;
    background: var(--primary) !important;
  }

  &.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
  }

  &.btn-outline-primary:hover {
    background: var(--primary);
    color: var(--bg-color-secondary) !important;
  }

  &.btn-warning {
    color: var(--light);
    border-color: var(--warning) !important;
    background: var(--warning) !important;
  }
}


/*Customizing Input Group*/
.col-form-label {
  font-family: 'Nunito', sans-serif;
  line-height: 23px;
  font-size: 17px;
  color: var(--bg-color-primary);
}

.simtuitive-input {
  .col-form-label {
    color: var(--light);
  }

  .input-group, .form-group {
    border-radius: 11px;
    border: 0;
    margin-bottom: 30px;

    .form-control {
      border: 0;
      box-shadow: none !important;
      border-radius: 11px;
      background: var(--bg-color-secondary);
      color: var(--light) !important;
    }

    .form-control:focus {
      background: var(--bg-color-secondary);
    }

    .input-group-append {
      border: 0 !important;

      .input-group-text {
        border: 0 !important;
        background: var(--bg-color-secondary) !important;
        border-top-right-radius: 11px !important;
        border-bottom-right-radius: 11px !important;

        img {
          width: 25px;
          height: 25px;
        }

        i {
          color: $gray;
        }
      }
    }

    .input-group-prepend {
      background: transparent !important;
      border: 0 !important;

      .input-group-text {
        border: 0 !important;
        background: var(--bg-color-secondary) !important;
        border-top-left-radius: 11px !important;
        border-bottom-left-radius: 11px !important;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }

    .custom-control-label {
      color: var(--light) !important;
    }
  }
}

.ng-select {
  padding-bottom: 0 !important;
  background: var(--bg-color-primary) !important;
}

.ng-select.customize ::ng-deep .ng-select-container {
  border-radius: 0;
  border: 0;
  box-shadow: none;
  font-size: 15px;
  color: #4D525A;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(---primary) !important;
  min-width: 100% !important;

  input {
    line-height: 30px;
  }
}

.input-error-report {
  font-size: var(--warning);
  color: $red;
}

.bg-poster {
  background: url('src/assets/img/login/login.png') center no-repeat;
}

@media (max-width: 768px) {
  .bg-poster {
    border: 10px solid red;
    display: none;
  }
}

.auth-input {
  .col-form-label {
    color: var(--light);
  }

  .input-group, .form-group {
    border-radius: 11px;
    border: 0;
    margin-bottom: 30px;

    .form-control {
      border: 0;
      box-shadow: none !important;
      border-radius: 11px;
      background: var(--bg-color-secondary);
      color: var(--light) !important;
    }

    .form-control::-webkit-input-placeholder {
      color: $light !important;
    }

    .form-control:-moz-placeholder { /* Firefox 18- */
      color: $light !important;
    }

    .form-control::-moz-placeholder { /* Firefox 19+ */
      color: $light !important;
    }

    .form-control:-ms-input-placeholder {
      color: $light !important;
    }

    .form-control {
      background: #707070 !important;
      color: $light;
    }

    .form-control:focus {
      background: var(--bg-color-secondary);
    }

    .input-group-append {
      border: 0 !important;

      .input-group-text {
        border: 0 !important;
        background: #707070 !important;
        border-top-right-radius: 11px !important;
        border-bottom-right-radius: 11px !important;

        img {
          width: 25px;
          height: 25px;
        }

        i {
          color: $gray;
        }
      }
    }

    .input-group-prepend {
      background: transparent !important;
      border: 0 !important;

      .input-group-text {
        border: 0 !important;
        background: #707070 !important;
        border-top-left-radius: 11px !important;
        border-bottom-left-radius: 11px !important;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }

    .custom-control-label {
      color: var(--light) !important;
    }
  }

  .custom-control-label, .forgot-password {
    color: var(--light);
    cursor: pointer;
  }

  .forgot-password:hover {
    color: var(--primary);
  }
}

.forgot-message {
  color: var(--light);
}

