$primary: #FF9000 !default;
$secondary: #551D71;
$success: #17C64D;
$warning: #E20000;
$dark: #15151B;
$light: #FFFFFF;
$bg_test: #15151B;
$green: #35962C;
$red: #E20000;
$yellow: #F2C200;
$gray:#8E8E8E;
$mercury:#E6E6E6;
$salmon:#FF7777;
$sunset_orange:#FF4B4B;
$blue_ribbon: #005DFF;

$dark_bg: #202029;
$light_bg:#F4F6FB;

//badge colors
$badge_success: $success;
$badge_yellow: $green;
$badge_white: $light_bg;
$badge_primary: $primary;




