<div class="site-content">
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Admins</li>
      <li class="breadcrumb-item" ><a>Edit Admins</a></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col">
      <h1>Edit Admin</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-7 col-lg-7 col-md-9 col-sm-12 p-lg-5 p-md-3 p-sm-2">
      <form class="simtuitive-input" [formGroup]="adminForm" (ngSubmit)="onSubmit()">

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-form-label">Name</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <input
              type="text"
              class="form-control"
              formControlName="name"
            />
            <div *ngIf="f.name.invalid && (f.name.touched || f.name.value)"
                 class="input-error-report">
              <div *ngIf="f.name.errors.required">
                Name is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12  col-form-label">Email</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <input
              type="email"
              class="form-control"
              formControlName="email"
            />
            <div *ngIf="f.email.invalid && (f.email.touched || f.email.value)"
                 class="input-error-report">
              <div *ngIf="f.email.errors.required">
                Email is required.
              </div>
              <div *ngIf="f.email.errors.email">Please enter valid email address!</div>
            </div>
          </div>

        </div>

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12  col-form-label">Role</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <ng-select
              [items]="roles"
              [closeOnSelect]="true"
              [searchable]="false"
              [loading]="isLoading"
              bindLabel="roleName"
              placeholder="Select Role"
              formControlName="role"
            >
            </ng-select>
            <div *ngIf="f.role.invalid && (f.role.touched || f.role.value)"
                 class="input-error-report">
              <div *ngIf="f.role.errors.required">
                Role is required.
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-end pt-4">
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 text-center">
            <button
              type="submit"
              class="btn btn-primary"
            >
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

