<div class="site-content">
  <div class="row">
    <div class="col">
      <h1>Add Events</h1>
    </div>
  </div>
    <form class="simtuitive-input" [formGroup]="EventFormGroup" (ngSubmit)="save()">
      <div class="row">
    <div class="col-6 mt-5">
        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12  col-form-label">Select Clients</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <ng-select
              [items]="clients"
              [searchable]="false"
              bindLabel="roleName"
              placeholder="Clients"
              class="ng-select"
              formControlName="client"
            >
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12  col-form-label">Select Products/Course</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <ng-select
              [items]="products"
              [searchable]="false"
              bindLabel="roleName"
              placeholder="Courses"
              class="ng-select"
              formControlName="product"
            >
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-form-label">Event Name</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 custom-input">
            <input
              type="text"
              class="form-control"
              formControlName="eventName"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-form-label">Toll Gates</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" formControlName="tollGates" [(ngModel)]="tollGate" name="tollGates" class="custom-control-input" value="yes">
              <label class="custom-control-label" for="customRadioInline1">Yes</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" formControlName="tollGates" [(ngModel)]="tollGate" name="tollGates" class="custom-control-input" value="no">
              <label class="custom-control-label" for="customRadioInline2">No</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12  col-form-label">Event Start Date</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 d-flex custom-input">
            <input
              type="text"
              class="form-control"
              formControlName="eventStartDate"
              ngbDatepicker
              #d="ngbDatepicker"
            />
            <span class="input-group-append" (click)="d.toggle()">
              <img src="assets/img/interface.svg">
            </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12  col-form-label">Event End Date</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 d-flex custom-input">
            <input
              type="text"
              class="form-control"
              formControlName="eventEndDate"
              ngbDatepicker
              #d1="ngbDatepicker"
            />
            <span class="input-group-append" (click)="d1.toggle()">
              <img src="assets/img/interface.svg">
            </span>
          </div>
        </div>
      <div class="row justify-content-end">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 text-center">
          <button
            type="submit"
            class="btn btn-primary"
          >
            Proceed To Generate Event
          </button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="product-users-table table-responsive" *ngIf="tollGate==='yes'">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#Module</th>
            <th scope="col">Toll Pass Before Module</th>
            <th scope="col">Toll Pass After Module</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let module of modules;let i=index">
            <td>{{module}}</td>
            <td>
              <ng-select
                [items]="options"
                [searchable]="false"
                class="ng-select mx-auto"
                (change)="tollPassBefore(module,$event,'tollPassBefore',i)"
              >
              </ng-select>
            </td>
            <td>
              <ng-select
                [items]="options"
                [searchable]="false"
                class="ng-select mx-auto"
                (change)="tollPassBefore(module,$event,'tollPassAfter',i)"
              >
              </ng-select>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    </form>
</div>

