<div class="site-content">
  <div class="row">
    <div class="col">
      <h1>Add Events</h1>
    </div>
  </div>
  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#create-event">
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">Create Event</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#event-summary">
        <button class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">Event Summary</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#event-download">
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">Event Download</span>
        </button>
      </div>
    </div>
    <div class="bs-stepper-content">
        <div id="create-event" class="content">
          <app-create-event (onStepNext)="next()"></app-create-event>
        </div>
      <div id="event-summary" class="content">
        <app-event-summary (onStepNext)="next()"></app-event-summary>
      </div>
      <div id="event-download" class="content">
        <app-event-download></app-event-download>
      </div>
    </div>
  </div>
</div>

