<div class="container-fluid">
  <div class="row align-items-center vh-100">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 vh-100 bg-poster"
         style="background-color: #8481E9">
    </div>

    <div class="col-xl-6 col-md-12 vh-100 col-lg-6 col-sm-12 col-12">
      <div class="row align-items-center vh-100 justify-content-center">
        <div class="col-lg-6 col-sm-10 col-md-8 col py-4">
          <div class="text-center py-5">
            <img src="assets/img/logo.svg"/>
          </div>
          <div class="py-3 forgot-message">
            Enter your email and we send you a password reset link.
          </div>
          <form class="simtuitive-input auth-input" [formGroup]="forgotForm" (ngSubmit)="requestPassword()">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img src="assets/img/login/envelope.png"/>
                </span>
              </div>
              <input type="text"
                     formControlName="username"
                     placeholder="Email"
                     class="form-control">
            </div>
            <div class="text-center py-3">
              <button (click)="requestPassword()"
                      class="btn btn-primary">
                Send request
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
