<div class="site-content">

  <div class="row">
    <div class="col">
      <h1>License Info</h1>
    </div>
  </div>

  <div class="row">
    <div class="col p-lg-5 p-md-3 p-sm-2">
      <div class="row license-cont  text-white">
        <div class="col-6">
          <div class="license-product">
            <img src="assets/img/product/product.png"/>
            <span class="product-name">Product Management</span>
          </div>
        </div>
        <div class="col-6">
          <div class="row justify-content-end">
            <div class="payment">
              <img src="assets/img/payment.svg"/>
              <span class="status">( Pending )</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="row license-count-card">
          <div class="text-center">
            <div class="purchased-count">250</div>
            <div class="purchased">Licenses Purchased</div>
          </div>
        </div>
        <div class="row license-count-card">
           <div class="col">
             <div class="text-center">
               <div class="purchased-count">250</div>
               <div class="purchased">Licenses Purchased</div>
             </div>
           </div>
           <div class="col-auto">
             <div style="height: 94px;border:1px solid #707070;margin-top: 20px"></div>
           </div>
           <div class="col purchased-cont">
             <div class="purchase-label">Registered<span>175</span></div>
             <div class="purchase-label">Not Registered<span>25</span></div>
             <div class="purchase-label">Timed out<span>25</span></div>
           </div>
        </div>
        <div class="row">
          <div class="license-count-card text-center">
            <div class="purchased-count">250</div>
            <div class="purchased">Licenses Remaining</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



