<div class="site-content">

  <div class="row">
    <div class="col">
      <h1>License Info</h1>
    </div>
  </div>

  <div class="row">
    <div class="col p-lg-5 p-md-3 p-sm-2 p-0">
      <div class="row license-cont  text-white">
        <div class="col-md-6">
          <div class="license-product">
            <img src="assets/img/product/product.png"/>
            <span class="product-name">Product Management</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row justify-content-end">
            <div class="payment">
              <img src="assets/img/payment.svg"/>
              <span class="status">( Pending )</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-md-3">
          <div class="license-count-card text-center">
            <div class="purchased-count">250</div>
            <div class="purchased">Licenses Purchased</div>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <div class="license-count-card">
              <div class="row">
                <div class="col-4">
                  <div class="text-center">
                    <div class="purchased-count">250</div>
                    <div class="purchased">Licenses Issued</div>
                  </div>
                </div>
                <div class="col-auto">
                  <div style="height: 104px;border:1px solid #707070;margin-top: 20px"></div>
                </div>
                <div class="col-5 purchased-cont">
                  <div class="purchase-label">Registered<span>175</span></div>
                  <div class="purchase-label">Not Registered<span>25</span></div>
                  <div class="purchase-label">Timed out<span>25</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="license-count-card text-center">
            <div class="purchased-count">250</div>
            <div class="purchased">Licenses Remaining</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="license-title">Licenses Details</div>
        </div>
        <div class="col-md-12">
          <div class="license-details-cont">
            <div class="row justify-content-between align-items-center" style="height: 100%">
              <div class="col-md-4">
                <div class="license-sub-title">Licenses ID</div>
                <div class="license-content">#121345</div>
              </div>
              <div class="col-md-4">
                <div class="license-sub-title">Organization</div>
                <div class="license-content">Hp</div>
              </div>
              <div class="col-md-4">
                <div class="license-sub-title">No of Licenses</div>
                <div class="license-content">400</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="license-title">Deal Details</div>
        </div>
        <div class="col-12">
          <div class="license-details-cont">
            <div class="row justify-content-between align-items-center" style="height: 100%">
              <div class="col-md-3">
                <div class="license-sub-title">Credit Limit</div>
                <div class="license-content">360 days</div>
              </div>
              <div class="col-md-3">
                <div class="license-sub-title">Selling price</div>
                <div class="license-content">$10000</div>
              </div>
              <div class="col-md-3">
                <div class="license-sub-title">Deal Size</div>
                <div class="license-content">$10765</div>
              </div>
              <div class="col-md-3">
                <div class="license-sub-title">Narration</div>
                <div class="license-content">PO Done</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="license-title">Expiration Details</div>
        </div>
        <div class="col-12">
          <div class="license-details-cont">
            <div class="row justify-content-between align-items-center" style="height: 100%">
              <div class="col-md-4">
                <div class="license-sub-title">Creation Date</div>
                <div class="license-content">15/08/2020</div>
              </div>
              <div class="col-md-4">
                <div class="license-sub-title">Expiration Date</div>
                <div class="license-content">15/08/2021</div>
              </div>
              <div class="col-md-4">
                <div class="license-sub-title">Expired In</div>
                <div class="license-content">71 Days</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



