<div class="row">

  <div class="col-12">
    <div class="row event-header">
      <div class="col">EVENT NAME</div>
      <div class="col">CLIENT NAME</div>
      <div class="col">BOOKING DATE</div>
      <div class="col">COURSE</div>
      <div class="col">NO OF DELEGATES</div>
      <div class="col" *ngIf="bookingActions">ACTION</div>
    </div>
  </div>

  <div class="col-12" *ngFor="let booking of bookings;index as i">
    <div class="row event-item">
      <div
        class="col-12 pointer"
        (click)="setActiveCollapse(i)"
        [attr.aria-expanded]="i !== activeCollapse"
        aria-controls="i"
      >
        <div class="row">
          <div class="col">{{booking.eventName}}</div>
          <div class="col">{{booking.clientName}}</div>
          <div class="col">{{parseDate(booking.createdAt)}}</div>
          <div class="col">{{booking.productName}}</div>
          <div class="col">{{booking.noOfParticipants}}</div>
          <div class="col" *ngIf="bookingActions">
            <ng-select
              [items]="bookingActions"
              [searchable]="false"
              class="status-select"
              [clearable]="false"
              (click)="$event.stopPropagation()"
              (change)="onChangeStatus($event,booking.bookingId, content)"
              placeholder="Change Booking Status"
            >
            </ng-select>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="mt-2" [id]="i" [ngbCollapse]="i !== activeCollapse">
          <div class="row" style="background-color: var(--bg-color-secondary)">
            <div class="col-12">
              <div class="row" style="color: #6C6C6C">
                <div class="col-2">START DATE</div>
                <div class="col-2">END DATE</div>
                <div class="col-6">NOTES</div>
              </div>
            </div>
            <div class="col-12 pt-2">
              <div class="row">
                <div class="col-2">{{parseDate(booking.startDate)}}</div>
                <div class="col-2">{{parseDate(booking.endDate)}}</div>
                <div class="col-6">{{booking.notes}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p><strong>Are you sure you want to Approve ?</strong></p>
  </div>
  <div class="modal-footer">
    <div class="row text-center" style="width: 100%">
      <div class="col">
        <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Cancel</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="requestUpdateStatus(modal)">Confirm</button>
      </div>
    </div>
  </div>
</ng-template>
