.event-header {
  color : #6C6C6C;
  padding: 20px 30px;
}
.event-item{
  background-color: var(--bg-color-secondary);
  padding: 30px;
  color: #A6A6A6;
  margin-bottom: 20px;
  .icon {
    font-size: 18px;
    color: var(--primary);
  }
}
