<div class="site-content">

  <div class="row title-cont">
    <div class="col">
      <h1>Role Management</h1>
    </div>
    <div class="col">
      <div class="text-right">
        <button (click)="router.navigate(['add-role'])"
                class="btn btn-primary">
          Add Role
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-cont">
      <div class="row ml-3">
        <div class="col-3 search">
          <div class="input-group">
            <span class="input-group-prepend"><img src="assets/img/search.svg"></span>
            <input type="text" class="mx-auto" placeholder="Search">
          </div>
        </div>
        <label class="col-xl-1 col-lg-1 col-md-12 col-sm-12  col-form-label" style="color:white">Roles</label>
        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
          <ng-select
            [items]="roles"
            [closeOnSelect]="true"
            [searchable]="false"
            bindLabel="organizationName"
            placeholder="Role"
          >
          </ng-select>
        </div>
      </div>
      <div class="product-users-table table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Role Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let role of roles; index as i">
            <td>{{i+1}}</td>
            <td>{{role.roleName}}</td>
            <td>{{role.description}}</td>
            <td>
              <div class="d-flex justify-content-around action-icon">
                <i title="Edit Role"  class="fa fa-edit" aria-hidden="true"
                   (click)="router.navigate(['/edit-role', role.roleId])"></i>
                <i title="Delete Role"  class="fa fa-trash" aria-hidden="true" (click)="requestDelete(role.roleId,content)"></i>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="col-2 d-flex align-items-center pagination-btn">
    <div   style="border-right: 1px solid #707070;">
      <button class="arrow-btn"><i class="fas fa-angle-left"></i></button>
    </div>
    <div class="ml-auto">
      <p>1 to 4</p>
    </div>
    <div class="ml-auto" style="border-left: 1px solid #707070;">
      <button class="arrow-btn"><i class="fas fa-angle-right"></i></button>
    </div>
  </div>
</div>
<!--modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete ?</strong></p>
  </div>
  <div class="modal-footer">
    <div class="row text-center" style="width: 100%">
      <div class="col">
        <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Cancel</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</ng-template>
