<div class="site-content">

  <div class="row title-cont">
    <div class="col">
      <h1>Role Management</h1>
    </div>
    <div class="col">
      <div class="text-right">
        <button (click)="router.navigate(['add-role'])"
                class="btn btn-primary">
          Add
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-cont">
      <div class="product-users-table table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Role Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let role of roles; index as i">
            <td>{{i+1}}</td>
            <td>{{role.roleName}}</td>
            <td>{{role.description}}</td>
            <td>
              <div class="d-flex justify-content-around action-icon">
                <i class="fa fa-edit" aria-hidden="true"
                   (click)="router.navigate(['/edit-role', role.roleId])"></i>
                <i class="fa fa-trash" aria-hidden="true" (click)="delete(role.roleId)"></i>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

