<div class="site-content">
  <div class="row">
    <div class="col">
      <h1>Add Client</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-7 col-lg-7 col-md-9 col-sm-12 pt-4">
      <form class="simtuitive-input" [formGroup]="clientForm" (ngSubmit)="onSubmit()">

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12  col-form-label">Organization</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <div class="ng-autocomplete form-control search">
              <ng-autocomplete
                [data]="organizations"
                (inputChanged)="findOrganization({query: $event})"
                placeHolder="Select a Organization"
                formControlName="organization"
                searchKeyword="organizationName"
                [itemTemplate]="itemTemplate"
                notFoundText=""
              >
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.organizationName" style="color:black;"></a>
              </ng-template>
            </div>

            <div *ngIf="f.organization.invalid && (f.organization.touched || f.organization.value)"
                 class="input-error-report">
              <div *ngIf="f.organization.errors.required">
                organization is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12  col-form-label">First Name</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Client First Name"
              formControlName="firstName"
            />
            <div *ngIf="f.firstName.invalid && (f.firstName.touched || f.firstName.value)"
                 class="input-error-report">
              <div *ngIf="f.firstName.errors.required">
                Client First Name is required.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12  col-form-label">Last Name</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Client Last Name"
              formControlName="lastName"
            />
            <div *ngIf="f.lastName.invalid && (f.lastName.touched || f.lastName.value)"
                 class="input-error-report">
              <div *ngIf="f.lastName.errors.required">
                Client Last Name is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12  col-form-label">Client Email</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <input
              type="text"
              class="form-control"
              formControlName="email"
              placeholder="Enter Client Emaill"
            />
            <div *ngIf="f.email.invalid && (f.email.touched || f.email.value)"
                 class="input-error-report">
              <div *ngIf="f.email.errors.required">
                Email is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-form-label">Billing Address</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <textarea
              rows="4"
              class="form-control"
              formControlName="billingAddress"
              placeholder="Enter Client Billing Address"
            >
            </textarea>
            <div *ngIf="f.billingAddress.invalid && (f.billingAddress.touched || f.billingAddress.value)"
                 class="input-error-report">
              <div *ngIf="f.billingAddress.errors.required">
                Billing Address is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12  col-form-label">Role</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <ng-select
              [items]="roles"
              [closeOnSelect]="true"
              [searchable]="false"
              bindLabel="roleName"
              placeholder="Select Role"
              formControlName="role"
            >
            </ng-select>
            <div *ngIf="f.role.invalid && (f.role.touched || f.role.value)"
                 class="input-error-report">
              <div *ngIf="f.role.errors.required">
                Role is required.
              </div>
            </div>
          </div>
        </div>



        <div class="row justify-content-end pt-4">
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 text-center">
           <!-- <button
              type="submit"
              class="btn btn-warning"
            >
              Reset
            </button>-->
            <button
              type="submit"
              class="btn btn-primary"
            >
              Create
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>


