<div class="container-fluid">
  <div class="row align-items-center vh-100">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 vh-100 bg-poster"
         style="background-color: #8481E9">
    </div>

    <div class="col-xl-6 col-md-12 vh-100 col-lg-6 col-sm-12 col-12">
      <div class="row align-items-center vh-100 justify-content-center">
        <div class="col-lg-6 col-sm-10 col-md-8 col py-4">
          <div class="text-center py-5">
            <img src="assets/img/logo.svg"/>
          </div>
          <form class="simtuitive-input" [formGroup]="loginForm" (ngSubmit)="requestLogin()">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img src="assets/img/login/envelope.png"/>
                </span>
              </div>
              <input type="text"
                     formControlName="username"
                     placeholder="Email"
                     class="form-control">
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <img src="assets/img/login/password.png"/>
                </span>
              </div>
              <input type="password" formControlName="password"
                     placeholder="Password" class="form-control">
            </div>
            <div class="row">
              <div class="col">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" formControlName="remember"
                         class="custom-control-input" id="remember">
                  <label class="custom-control-label" for="remember">Remember Me</label>
                </div>
              </div>
              <div class="col">
                <a class="forgot-password" [routerLink]="'/forgot-password'">Forgot Password</a>
              </div>
            </div>
            <div class="text-center py-5">
              <button type="submit"
                      class="btn btn-primary">
                Login
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
