<div class="site-content">
  <div class="row">
    <div class="col">
      <h1>Product Management</h1>
    </div>
    <div class="col">
      <div class="text-right">
         <button (click)="router.navigate(['products/add-product'])" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
  <!--search & table-->
  <div class="row">
    <div class="col table-cont">
      <div class="row">
        <div class="col-3 simtuitive-input">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <img src="assets/img/search.svg">
              </span>
            </div>

            <div class="ng-autocomplete form-control align-content-center search d-inline-flex">
              <ng-autocomplete
                placeHolder="Search for products"
                searchKeyword="keyword"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
              >
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item" style="color:black;"></a>
              </ng-template>
              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="product-users-table table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Level</th>
            <th scope="col">Duration</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <!--<td>{{i + 1}}</td>
            <td>{{permission.name}}</td>
            <td>{{permission.type}}</td>
            <td>{{permission.rank}}</td>
            <td>
              <span class="badge badge-primary mr-1" *ngFor="let role of permission.roles">{{role.roleName}}</span>
            </td>
            <td>{{permission.description}}</td>-->
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="d-flex justify-content-around action-icon">
                <i title="Edit Permission" class="fa fa-share" aria-hidden="true"
                ></i>
                <i title="Edit Permission" class="fa fa-edit" aria-hidden="true"
                 ></i>
                <i title="Delete Permission" class="fa fa-trash" aria-hidden="true"
                 ></i>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-pagination (onRequest)="getProducts($event)" [page]="page" [totalPages]="totalPages"></app-pagination>
</div>

