<div class="row">
<div class="col-3 d-flex align-items-center ml-auto pagination">
  <div>
    <p>Page </p>
  </div>
  <div>
    <p> <input [(ngModel)]="page" type="number"  class="pagination-input ml-2" (change)="onPageChange()"> of {{totalPages}}</p>
  </div>
  <div class="col-2">
    <button class="arrow-btn" (click)="previousPage()"><i class="fas fa-angle-left" ></i></button>
  </div>
  <div class="col-2">
    <button class="arrow-btn" (click)="nextPage()"><i class="fas fa-angle-right" ></i></button>
  </div>
</div>
</div>
