<div class="site-content">

  <div class="row title-cont">
    <div class="col">
      <h1>Client Management</h1>
    </div>
    <div class="col">
      <div class="text-right">
        <button (click)="openModal(invite_1)"
                class="btn btn-primary options invite">Invite
        </button>
        <button (click)="router.navigate(['add-client'])"
                class="btn btn-primary ml-2 options">Add Client
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-cont">
      <div class="row simtuitive-input ml-3">

        <div class="col-3 ">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <img src="assets/img/search.svg">
              </span>
            </div>

            <div class="ng-autocomplete form-control align-content-center search d-inline-flex">
              <ng-autocomplete
                [data]="clientNames"
                placeHolder="Search for Client"
                searchKeyword="keyword"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
              >
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item" style="color:black;"></a>
              </ng-template>
              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>

          </div>
        </div>

          <!--<label class="col-xl-2 col-lg-2  col-md-12 col-sm-12  col-form-label" style="color:white">Roles</label>-->
        <div class="col-3 ">
          <div class="input-group">
            <div class="ng-autocomplete form-control align-content-center search d-inline-flex">
              <ng-autocomplete
                [data]="clientNames"
                placeHolder="Search for Organization"
                searchKeyword="keyword"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
              >
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item" style="color:black;"></a>
              </ng-template>
              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>

          </div>
        </div>

        <div class="col-2">
          <button class="btn apply-btn">Apply</button>
        </div>
      </div>
      <div class="product-users-table table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Organization Name</th>
            <th scope="col">Client Name</th>
            <th scope="col">Client Email</th>
            <th scope="col">Client GST</th>
            <th scope="col">Client PAN</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let client of clients; index as i">
            <td>{{i+1}}</td>
            <td>{{client.organizationName}}</td>
            <td>{{client.userName}}</td>
            <td>{{client.userEmail}}</td>
            <td>{{client.gst}}</td>
            <td>{{client.pan}}</td>
            <td>
              <div class="d-flex justify-content-between action-icon">
                <i title="Edit Client" class="fa fa-share" aria-hidden="true"
                   (click)="requestInvitation(client.userId,client.userEmail, invite)"></i>
                <i title="Edit Client" class="fa fa-edit" aria-hidden="true"
                   (click)="router.navigate(['/edit-client', client.userId])"></i>
                <i title="Delete Client" class="fa fa-trash disable"  aria-hidden="true"
                   (click)="requestDelete(client.userId, content)"></i>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
    <app-pagination (onRequest)="getClients($event)" [page]="page" [totalPages]="totalPages"></app-pagination>
</div>
<!--modal for Delete-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete ?</strong></p>
  </div>
  <div class="modal-footer">
    <div class="row text-center" style="width: 100%">
      <div class="col">
        <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Cancel</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #invite let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Invite</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="text-align: center;">
    <p><strong>Invitation send to {{inviteEmailId}}</strong></p>
  </div>
  <div class="modal-footer">
    <div class="row text-center" style="width: 100%">
      <div class="col">
        <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Cancel</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary">Invite</button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #invite_1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Invite</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="text-align: center;">
    <div class="row justify-content-center">
      <label class="col-xl-7 col-lg-7 col-md-12 col-sm-12  col-form-label" style="color:white;text-align: start">Organization Name</label>
      <div class="ng-autocomplete align-content-center search d-inline-flex">
        <span class="input-group-prepend"><img src="assets/img/search.svg"></span>
        <ng-autocomplete
          [data]="organizationNames"
          searchKeyword="keyword"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
        >
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item" style="color:black;"></a>
        </ng-template>
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
      <label class="col-xl-7 col-lg-7  col-md-12 col-sm-12  col-form-label mt-3" style="color:white;text-align: start">Admin Email Address</label>
      <div class="ng-autocomplete align-content-center search d-inline-flex">
        <span class="input-group-prepend"><img src="assets/img/search.svg"></span>
        <ng-autocomplete
          [data]="emailAddress"
          searchKeyword="keyword"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
        >
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item" style="color:black;"></a>
        </ng-template>
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row text-center" style="width: 100%">
      <div class="col">
        <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Cancel</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary">Invite</button>
      </div>
    </div>
  </div>
</ng-template>
