<div class="site-content">

  <div class="row title-cont">
    <div class="col">
      <h1>Client Management</h1>
    </div>
    <div class="col">
      <div class="text-right">
        <button (click)="router.navigate(['add-client'])"
                class="btn btn-primary">Add Client
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-cont">
      <div class="product-users-table table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Organization Name</th>
            <th scope="col">Client Name</th>
            <th scope="col">Client Email</th>
            <th scope="col">Client GST</th>
            <th scope="col">Client PAN</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let client of clients; index as i">
            <td>{{i+1}}</td>
            <td>{{client.organizationName}}</td>
            <td>{{client.userName}}</td>
            <td>{{client.userEmail}}</td>
            <td>{{client.gst}}</td>
            <td>{{client.pan}}</td>
            <td>
              <div class="d-flex justify-content-between action-icon">
                <i class="far fa-share-square" aria-hidden="true"></i>
                <i title="Edit Client" class="fa fa-edit" aria-hidden="true"
                   (click)="router.navigate(['/edit-client', client.userId])"></i>
                <i title="Delete Client" class="fa fa-trash" aria-hidden="true"
                   (click)="requestDelete(client.userId, content)"></i>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


<!--modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete ?</strong></p>
  </div>
  <div class="modal-footer">
    <div class="row text-center" style="width: 100%">
      <div class="col">
        <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Cancel</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</ng-template>
