
.wrapper {
  display: flex !important;
  width: 100% !important;
}

#page-content {
  width: calc(100% - 300px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#page-content.active {
  width: 100%;
}

@media (max-width: 768px) {
  #page-content {
    width: 100%;
  }
  #page-content.active {
    width: 100%;
  }
  #sidebarCollapse span {
    display: none;
  }
}
