<nav class="navbar navbar-expand-lg fixed-top"
     style="background-color: var(--bg-color-secondary)">
  <div class="container-fluid">
    <button
      [title]="title"
      id="toggle-sidebar"
      type="button"
      (click)="toggleSidebar($event)"
      class="btn btn-outline-primary sidebar-toggle-btn">
      <span><i class="fa fa-navicon"></i></span>
    </button>
    <div ngbDropdown class="mr-5 mt-1" *ngIf="userService.user.role !== 'Client'">
      <a class="user-name" style="color: var(--primary);"
         ngbDropdownToggle id="userMenus">{{userService.user && userService.user.userName || 'Guest'}}</a>
      <div ngbDropdownMenu aria-labelledby="userMenus">
        <button ngbDropdownItem>My Profile</button>
        <button ngbDropdownItem style="border-bottom: 2px solid white">Settings</button>
        <button ngbDropdownItem style="color:red !important;" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>

  <ul class="navbar-nav ml-auto" *ngIf="userService.user.role === 'Client'">
    <li class="nav-item">
      <a class="nav-link client-notification">
        <img src="assets/img/client/bell.svg"
             width="30"
             height="20"
             class="d-inline-block">
      </a>
    </li>
    <a class="navbar-brand top-logo">
      <img src="assets/img/client/hp.png"
           width="30"
           height="30"
           class="d-inline-block">
      Hewlett-Packard
    </a>
    <li class="nav-item active">
      <a class="nav-link client-logout" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

