<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
    <img src="assets/img/logo.svg" title="Simtuitive"/>
  </div>

  <ul class="list-unstyled components">
    <li *ngFor="let  sidebar of sidebars;" [ngClass]="{'active':sidebar === getNameByRoute(sidebar)}">
      <a [routerLink]="getRouteByName(sidebar)" [title]="sidebar">
        <i class="fa fa-pie-chart" aria-hidden="true" *ngIf="sidebar==='Dashboard'"></i>
        <i class="fa fa-university" aria-hidden="true" *ngIf="sidebar==='Organization Management'"></i>
        <i class="fa fa-users" aria-hidden="true" *ngIf="sidebar==='Client Management'"></i>
        <i class="fa fa-credit-card" aria-hidden="true" *ngIf="sidebar==='License Management'"></i>
        <i class="fa fa-cube" aria-hidden="true" *ngIf="sidebar==='Product Management'"></i>
        <i class="fa fa-folder-open" aria-hidden="true" *ngIf="sidebar==='Reports'"></i>
        <i class="fa fa-server" aria-hidden="true" *ngIf="sidebar==='WhiteList IPs Management'"></i>
        <i class="fa fa-shield" aria-hidden="true" *ngIf="sidebar==='Permission Management'"></i>
        <i class="fa fa-users" aria-hidden="true" *ngIf="sidebar==='Role Management'"></i>
        <i class="fa fa-user-circle" aria-hidden="true" *ngIf="sidebar==='Admin Management'"></i>
        {{sidebar}}
      </a>
    </li>
  </ul>

</nav>
