<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
    <img src="assets/img/logo.svg" title="Simtuitive"/>
  </div>

  <ul class="list-unstyled components">
    <li *ngFor="let sidebar of sidebars;" (click)="hideCollapse(sidebar)">
      <a [routerLink]="getRouteByName(sidebar)" [ngClass]="{'active':sidebar === getNameByRoute(sidebar)}">
        <i class="fa fa-pie-chart" aria-hidden="true" *ngIf="sidebar==='Dashboard'"></i>
        <i class="fa fa-university" aria-hidden="true" *ngIf="sidebar==='Organization Management'"></i>
        <i class="fa fa-calendar" aria-hidden="true" *ngIf="sidebar==='Event Management'"></i>
        <i class="fa fa-users" aria-hidden="true" *ngIf="sidebar==='Client Management'"></i>
        <i class="fa fa-credit-card" aria-hidden="true" *ngIf="sidebar==='License Management'"></i>
        <i class="fa fa-cube" aria-hidden="true" *ngIf="sidebar==='Product Management'"></i>
        <i class="fa fa-folder-open" aria-hidden="true" *ngIf="sidebar==='Reports'"></i>
        <i class="fa fa-server" aria-hidden="true" *ngIf="sidebar==='WhiteList IPs Management'"></i>
        <i class="fa fa-shield" aria-hidden="true" *ngIf="sidebar==='Permission Management'"></i>
        <i class="fa fa-users" aria-hidden="true" *ngIf="sidebar==='Role Management'"></i>
        <i class="fa fa-user-circle" aria-hidden="true" *ngIf="sidebar==='Admin Management'"></i>
        <img *ngIf="sidebar==='Learner Digest'" src="assets/img/client/users.svg"/>
        <img *ngIf="sidebar==='Invite Manager'" src="assets/img/client/mail.svg"/>
        <img *ngIf="sidebar==='Learning Events'" src="assets/img/client/flag.svg"/>
        <img *ngIf="sidebar==='Learner Trends'" src="assets/img/client/heart.svg"/>
        <img *ngIf="sidebar==='Account Settings'" src="assets/img/client/bx-cog.svg"/>
        {{sidebar}}
      </a>
      <!--<ng-template [ngIf]="sidebar === 'Event Management'">
        <a (click)="toggleCollapse('eventSubmenu', 'Event Management')"
           data-toggle="collapse"
           aria-expanded="false"
           class="dropdown-toggle"
           [ngClass]="{'active':router.url.includes('events')}"
        >
          <i class="fa fa-calendar" aria-hidden="true"></i>
          {{sidebar}}
        </a>
        <ul class="collapse list-unstyled" id="eventSubmenu">
          <li
            *ngFor="let eventSubBar of eventSubBars;"
            [ngClass]="{'active':eventSubBar === getNameByRoute(eventSubBar)}">
            <a
              [ngClass]="{'active':eventSubBar === getNameByRoute(eventSubBar)}"
              [routerLink]="getRouteByName(eventSubBar)"
            >{{eventSubBar}}</a>
          </li>
        </ul>
      </ng-template>-->
    </li>

  </ul>

</nav>
