<!-- Sidebar  -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Simtuitive</h3>
  </div>

  <ul class="list-unstyled components">
    <li *ngFor="let  sidebar of sidebars;" [ngClass]="{'active':sidebar === getNameByRoute(sidebar)}">
      <a [routerLink]="getRouteByName(sidebar)">
        <i class="fa fa-pie-chart" aria-hidden="true" *ngIf="sidebar==='Dashboard'"></i>
        <i class="fa fa-university" aria-hidden="true" *ngIf="sidebar==='Organization Management'"></i>
        <i class="fa fa-users" aria-hidden="true" *ngIf="sidebar==='Client Management'"></i>
        <i class="fa fa-credit-card" aria-hidden="true" *ngIf="sidebar==='License Management'"></i>
        <i class="fa fa-cube" aria-hidden="true" *ngIf="sidebar==='Product Management'"></i>
        <i class="fa fa-folder-open" aria-hidden="true" *ngIf="sidebar==='Reports'"></i>
        {{sidebar}}
      </a>
    </li>
  </ul>

</nav>
