<div class="site-content">

  <div class="row title-cont">
    <div class="col">
      <h1>Organization Management</h1>
    </div>
    <div class="col">
      <div class="text-right">
        <button (click)="router.navigate(['add-organization'])"
                class="btn btn-primary">Add Organization
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-cont">
      <div class="product-users-table table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Organization Name</th>
            <th scope="col">Location</th>
            <th scope="col">Industry</th>
            <th scope="col">Deal Owner</th>
            <th scope="col">Deal Owner Email</th>
            <th scope="col">Deal Owner Phone</th>
            <th scope="col">Credit Limit</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let organization of organizations; index as i">
            <td>{{i + 1}}</td>
            <td>{{organization.organizationName}}</td>
            <td>{{organization.location}}</td>
            <td>{{organization.industry}}</td>
            <td>{{organization.dealOwnerName}}</td>
            <td>{{organization.dealOwnerEmail}}</td>
            <td>{{organization.dealOwnerMobile}}</td>
            <td>{{organization.creditLimit}}</td>
            <td>{{organization.status}}</td>
            <td>
              <div class="d-flex justify-content-between action-icon">
                <i class="fa fa-edit" aria-hidden="true"
                   (click)="router.navigate(['/edit-organization', organization.organizationId])"></i>
                <i class="fa fa-trash" aria-hidden="true" (click)="requestDelete(organization.organizationId, content)"></i>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

<!--modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete ?</strong></p>
  </div>
  <div class="modal-footer">
    <div class="row text-center" style="width: 100%">
      <div class="col">
        <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Cancel</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</ng-template>
