/* You can add global styles to this file, and also import other style files */

@import "./src/assets/scss/common";
@import "src/assets/scss/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "assets/vendor/@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');
@import '~ngx-toastr/toastr-bs4-alert';
@import '~bs-stepper/dist/css/bs-stepper.min.css';

:root {
  --primary: #FF9000 !important;
  --secondary: #562e71 !important;
  --success: #17C64D !important;
  --warning: #FF7777 !important;
  --dark: #15151B !important;
  --light: #FFFFFF !important;
  --dark_bg: #202029 !important;
  --light_bg: #F4F6FB !important;
  --green: #3CC480 !important;
  --yellow: #F2C200 !important;
  --red: #f6495c !important;
  --gray: #8E8E8E !important;
  --font-color: #FFFFFF !important;
  --heading-color: #FF9000 !important;
  --bg-color-primary: #15151b;
  --bg-color-secondary: #202029 !important;
  --pagination-border:#707070;
  --date-font:#17a2b8 !important;
  --apply-btn:#B9595B !important;
}


[data-theme="dark"] {
  --primary-color: $primary;
  --secondary-color: $secondary;
  --success: $success;
  --warning: $warning;
  --dark: $dark;
  --light: $light;
  --dark_bg: $dark_bg;
  --light_bg: $light_bg;
  --green: $green;
  --yellow: $yellow;
  --red: $red;
  --gray: $gray;
  --font-color: $light;
  --heading-color: $primary;
  --bg-color-primary: $dark_bg;
  --bg-color-secondary: $light_bg;
}
//fonts
@font-face
{
    font-family:'nucleo';
    src:url('~assets/fonts/nucleo-icons.ttf');
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 600;
  background: var(--bg-color-primary) !important;
  overflow-x: hidden;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
  margin: 0 !important;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

h1 {
  color: var(--primary);
  font-weight: Bold;
  font-size: 28px;
  line-height: 33px;
}

h2 {
  color: var(--primary);
  font-weight: Bold;
  font-size: 24px;
  line-height: 33px;
}

h3 {
  color: var(--warning);
  font-weight: Bold;
  font-size: 20px;
  line-height: 28px;
}

h4 {
  color: var(--warning);
  font-weight: Bold;
  font-size: 16px;
  line-height: 28px;
}

h5 {
  color: var(--warning);
  font-weight: Bold;
  font-size: 12px;
  line-height: 28px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

//ng-select styles
.ng-select .ng-select-container {
  color: var(--light);
  background-color: var(--dark_bg) !important;
  border: none;
  align-items: center;
  border-radius: 11px;
  box-shadow: none;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  border-style: none;
}

.ng-select .ng-arrow-wrapper .ng-arrow:before {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  color: var(--primary);
}

.ng-select.ng-select-opened .ng-select-container .ng-arrow:before {
  font-family: "Font Awesome 5 Free";
  content: "\f077";
  color: var(--primary);
  display: inline-block;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
  background-color: var(--primary);
}

.ng-dropdown-panel {
  border: 0;
  border-radius: 0;
  background: var(--bg-color-secondary) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  background: var(--bg-color-secondary) !important;
  color: var(--light) !important;
}



.simtuitive-modal {
  .modal-header {
    border: 0 !important;
  }

  .modal-content {
    background-color: var(--bg-color-secondary) !important;
    color: white !important;
    border: 0 !important;
  }

  .close {
    color: var(--light) !important;
    outline: none !important;
  }

  .modal-footer {
    border: 0 !important;
  }
}

input
{
  &:focus {
    outline: none !important;
  }
}
//styles for pagination & Searchbar
.search
{
  background: var(--bg-color-secondary);
  padding:5px;
  font-family: nunito, serif;
  img
  {
    width:20px;
  }

}
.form-control
{
  background: transparent;
  border:0 !important;
  color:white;
  outline: none !important;
  box-shadow: none !important;
  &::placeholder
  {
    font-size: 16px;
  }
}
//styles for auto-complete
.ng-autocomplete {
  height: 40px !important;
  width: auto !important;
  .autocomplete-container .input-container input {
    background-color: var(--bg-color-secondary) !important;
    color:var(--light) !important;
    border-radius: 10px;
    align-items: center;
    height: auto;
    .x {
      i {
        color: var(--light) !important;
      }
    }
  }
  .autocomplete-container
  {
    box-shadow: none !important;
  }
}
//styles for Date Picker
ngb-datepicker .ngb-dp-header,.ngb-dp-month:first-child .ngb-dp-week
{
  background: var(--bg-color-secondary) !important;
  border: 0 !important;
}
.dropdown-menu
{
  background: var(--bg-color-secondary) !important;
}
ngb-datepicker-navigation-select>.custom-select {
  color: var(--date-font);
  background:var(--bg-color-secondary) !important;
}
[ngbDatepickerDayView] {
  text-align: center;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: .25rem;
  background:var(--bg-color-secondary) !important;
  color:var(--light) !important;
  border: 0 !important;
}
.suggestions-container ::-webkit-scrollbar {
  background: none;
  width:6px;
}
.suggestions-container ::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: var(--primary);
}
.autocomplete-container .suggestions-container,.not-found
{
  background: var(--bg-color-secondary) !important;
  color: var(--light) !important;
  border:0!important;
  div
  {
   border-bottom: 0 !important;
  }
  ul
  {
    li
    {
      a {
        color: var(--light) !important;
      }
    }
  }
}
.ng-autocomplete
{
  align-items: center;
}
.autocomplete-container .input-container .x i {
  color: var(--light) !important;
}
//for apply Button all page filters
.apply-btn
{
  background-color: var(--apply-btn);
  border-radius: 50px;
  margin-top: 5px;
  width: 150px;
  color: var(--light);
}
//for Input with Icons
.custom-input
{
  height: calc(1.5em + 0.75rem + 2px);
  background: var(--bg-color-secondary);
  border-radius: 11px;
}

  .header
  {
    width:60% !important;
    margin-left: 4%;
    margin-bottom: 4% !important;
  }
//for autocomplete in modal
.modal-body {
  .search{
    background-color: var(--bg-color-primary) !important;
  }
  .ng-autocomplete .autocomplete-container .input-container input {
    background-color: transparent !important;
  }
}
.ng-select .ng-arrow-wrapper
{
  margin-right: 10px !important;
}

