<div class="site-content" *ngIf="userService.user.role === 'Admin' || userService.user.role ==='Super Admin'">

  <div class="row pt-4">

    <div class="col-4 px-5">
      <div class="row  dashboard-card-cont">
        <div class="col-12 p-3">
          <p style="color: var(--primary);font-size: 20px;font-weight: bold">Retail Users</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6 p-3">
              <p style="color: white;font-weight: bold">{{retailUsers.currentMonth}}</p>
              <p style="font-size: 14px;font-weight: bold" [style.color]="retailUsers.typeOfValue === 0 ? 'var(--red)' : 'var(--green)'">
                {{retailUsers.percentage}}%
              </p>
            </div>
            <div class="col-6 py-3">
              <img src="assets/img/dashboard/bar-chart-1.svg" style="float: right">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 px-5" *ngIf="userService.user.role === 'Admin'">
      <div class="row  dashboard-card-cont">
        <div class="col-12 p-3">
          <p style="color: var(--primary);font-size: 20px;font-weight: bold">Enterprise Users</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6 p-3">
              <p style="color: white;font-weight: bold">{{enterpriseUsers.currentMonth}}</p>
              <p style="font-size: 14px;font-weight: bold" [style.color]="enterpriseUsers.typeOfValue === 0 ? 'var(--red)' : 'var(--green)'">
                {{enterpriseUsers.percentage}}%
              </p>
            </div>
            <div class="col-6 py-3">
              <img src="assets/img/dashboard/bar-chart-2.svg" style="float: right">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 px-5" *ngIf="userService.user.role === 'Admin'">
      <div class="row  dashboard-card-cont">
        <div class="col-12 p-3">
          <p style="color: var(--primary);font-size: 20px;font-weight: bold">Users Online Now</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6 p-3">
              <p style="color: white;font-weight: bold">{{usersOnlineNow.today}}</p>
              <p style="font-size: 14px;font-weight: bold" [style.color]="usersOnlineNow.typeOfValue === 0 ? 'var(--red)' : 'var(--green)'">
                {{usersOnlineNow.percentage}}%
              </p>
            </div>
            <div class="col-6 py-3">
              <img src="assets/img/dashboard/bar-chart-3.svg" style="float: right">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of First row-->
    <div class="col-4 px-5" *ngIf="userService.user.role === 'Super Admin'">
      <div class="row dashboard-card-cont">
        <div class="col-12 p-3">
          <p style="color: var(--primary);font-size: 20px;font-weight: bold;text-align:center">Roles</p>
        </div>
        <div class="col-12">
          <div class="col-12 pb-4">
            <p class="text-center" style="color: white;font-weight: bold;font-size: 40px;">
              {{noOfRoles}}
              <img src="assets/img/dashboard/user-tag-solid.svg">
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 px-5" *ngIf="userService.user.role === 'Super Admin'">
      <div class="row  dashboard-card-cont">
        <div class="col-12 p-3">
          <p style="color: var(--primary);font-size: 20px;font-weight: bold;text-align: center">Permissions</p>
        </div>
        <div class="col-12">
          <div class="col-12 pb-4">
            <p class="text-center" style="color: white;font-weight: bold;font-size: 40px;">
              {{noOfPermissions}}
              <img src="assets/img/dashboard/shield-alt-solid.svg">
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 px-5" *ngIf="userService.user.role === 'Super Admin'">
      <div class="row  dashboard-card-cont">
        <div class="col-12 p-3" >
          <p style="color: var(--primary);font-size: 20px;font-weight: bold;text-align: center">Admins</p>
        </div>
        <div class="col-12 pb-4">
          <p class="text-center" style="color: white;font-weight: bold;font-size: 40px;">
            {{noOfAdmins}}
            <img class="text-center" src="assets/img/dashboard/users-cog-solid.svg">
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col" style="padding: 45px;">
      <div class="product-users-table" *ngIf="userService.user.role === 'Admin'">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Unique Users</th>
            <th scope="col">Users Online Now</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let productUser of productUsers; index as i">
            <td scope="row">{{ i + 1 }}</td>
            <td>{{ productUser.productName }}</td>
            <td>{{ productUser.registerUsers }}</td>
            <td>{{ productUser.usersOnlineNow }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="product-users-table" *ngIf="userService.user.role !== 'Admin'">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Admin Name</th>
            <th scope="col">Admin Email</th>
            <th scope="col">Admin Status</th>
            <th scope="col">Last Logged In</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let admin of admins; index as i">
            <td scope="row">{{  admin.userName }}</td>
            <td>{{admin.userEmail}}</td>
            <td *ngIf="admin.loginStatus==true"><img src="assets/img/dashboard/Ellipse 1.svg" class="mr-1">on</td>
            <td *ngIf="admin.loginStatus==false"><img src="assets/img/dashboard/Ellipse 2.svg" class="mr-1">off</td>
            <td>{{ admin.lastLogedIn}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

