@import "./src/assets/scss/variables";
.main-content-area{
  margin-top: 100px;
  padding: 40px;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9999999999;
  background: var(--bg-color-secondary);
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -300px;
}

#sidebar .sidebar-header {
  padding: 20px;
  text-align: center;
  background: var(--bg-color-secondary);

  h3 {
    color: var(--primary);
  }
}

#sidebar ul.components {
  padding-top: 100px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {

  font-size: 1.1em;
  display: block;
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  color: #8f9094;

  i {
    padding-right: 5px;
    font-size: 20px;
  }
}

#sidebar ul li a:hover {
  color: white;
  background: var(--bg-color-primary);
  text-decoration: none;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: var(--bg-color-primary);
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: var(--dark) !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 300px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
  #sidebarCollapse span {
    display: none;
  }
}

.dashboard-card-cont {
  background-color: var(--secondary);
  margin: 0 50px;
}

.product-users-table {

  background-color: var(--bg-color-secondary) !important;
  margin: 20px 15px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  tbody th, td {
    color: white;
    padding: 20px;
    border: 0 !important;
  }

  thead th {
    color: var(--primary);
    padding: 20px;
    border: 0 !important;
  }

  tbody tr{
    background-color: var(--bg-color-primary);
    border-bottom: 20px solid var(--bg-color-secondary);
  }


}

.sidebar-toggle-btn{
  margin-left: 300px;
}
.sidebar-toggle-btn.active{
  margin-left: 0;
}
