<div class="site-content">

  <div class="row">

    <div class="col-4">
      <div class="row  dashboard-card-cont">
        <div class="col-12 p-3">
          <p style="color: var(--primary);font-size: 20px;font-weight: bold">Retail Users</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6 p-3">
              <p style="color: white;font-weight: bold">{{retailUsers.currentMonth}}</p>
              <p style="font-size: 14px;font-weight: bold" [style.color]="retailUsers.typeOfValue === 0 ? 'var(--red)' : 'var(--green)'">
                {{retailUsers.percentage}}%
              </p>
            </div>
            <div class="col-6 py-3">
              <img src="assets/img/dashboard/bar-chart-1.svg" style="float: right">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row  dashboard-card-cont">
        <div class="col-12 p-3">
          <p style="color: var(--primary);font-size: 20px;font-weight: bold">Enterprise Users</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6 p-3">
              <p style="color: white;font-weight: bold">{{enterpriseUsers.currentMonth}}</p>
              <p style="font-size: 14px;font-weight: bold" [style.color]="enterpriseUsers.typeOfValue === 0 ? 'var(--red)' : 'var(--green)'">
                {{enterpriseUsers.percentage}}%
              </p>
            </div>
            <div class="col-6 py-3">
              <img src="assets/img/dashboard/bar-chart-2.svg" style="float: right">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row  dashboard-card-cont">
        <div class="col-12 p-3">
          <p style="color: var(--primary);font-size: 20px;font-weight: bold">Users Online Now</p>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6 p-3">
              <p style="color: white;font-weight: bold">{{usersOnlineNow.today}}</p>
              <p style="font-size: 14px;font-weight: bold" [style.color]="usersOnlineNow.typeOfValue === 0 ? 'var(--red)' : 'var(--green)'">
                {{usersOnlineNow.percentage}}%
              </p>
            </div>
            <div class="col-6 py-3">
              <img src="assets/img/dashboard/bar-chart-3.svg" style="float: right">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col p-5">
      <div class="product-users-table" *ngIf="userService.user.role === 'admin'">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Unique Users</th>
            <th scope="col">Users Online Now</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let productUser of productUsers; index as i">
            <td scope="row">{{ i + 1 }}</td>
            <td>{{ productUser.productName }}</td>
            <td>{{ productUser.registerUsers }}</td>
            <td>{{ productUser.usersOnlineNow }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

