<div class="site-content">
  <div class="row">
    <div class="col">
      <h1>Add Organization</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-7 col-lg-7 col-md-9 col-sm-12 pt-4">
      <form class="simtuitive-input" [formGroup]="organizationForm" (ngSubmit)="onSubmit()">

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-form-label">Organisation Name</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <input
              type="text"
              class="form-control"
              formControlName="name"
              placeholder="Enter Organisation Name"
            />
            <div *ngIf="f.name.invalid && (f.name.touched || f.name.value)"
                 class="input-error-report">
              <div *ngIf="f.name.errors.required">
                Organisation Name is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-form-label">Organisation Location</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <input
              type="text"
              class="form-control"
              formControlName="location"
              placeholder="Enter Organisation Location"
            />
            <div *ngIf="f.location.invalid && (f.location.touched || f.location.value)"
                 class="input-error-report">
              <div *ngIf="f.location.errors.required">
                Location is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-form-label">Organisation Industry</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <input
              type="text"
              class="form-control"
              formControlName="industry"
              placeholder="Enter Organisation Industry"
            />
            <div *ngIf="f.industry.invalid && (f.industry.touched || f.industry.value)"
                 class="input-error-report">
              <div *ngIf="f.industry.errors.required">
                Industry is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12  col-form-label">Deal Owner</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <input
              type="text"
              class="form-control"
              formControlName="dealOwner"
              placeholder="Enter Deal Owner Name"
            />
            <div *ngIf="f.dealOwner.invalid && (f.dealOwner.touched || f.dealOwner.value)"
                 class="input-error-report">
              <div *ngIf="f.dealOwner.errors.required">
                Deal Owner is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12  col-form-label">Deal Owner Email</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <input
              type="email"
              class="form-control"
              formControlName="dealOwnerEmail"
              placeholder="Enter Deal Owner Email"
            />
            <div *ngIf="f.dealOwnerEmail.invalid && (f.dealOwnerEmail.touched || f.dealOwnerEmail.value)"
                 class="input-error-report">
              <div *ngIf="f.dealOwnerEmail.errors.required">
                Email is required.
              </div>
              <div *ngIf="f.dealOwnerEmail.errors.email">Please enter valid email address!</div>
            </div>
          </div>

        </div>

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12  col-form-label">Deal Owner Mobile</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <input
              type="number"
              class="form-control"
              formControlName="dealOwnerMobile"
              placeholder="Enter Deal Owner Mobile"
            />
            <div *ngIf="f.dealOwnerMobile.invalid && (f.dealOwnerMobile.touched || f.dealOwnerMobile.value)"
                 class="input-error-report">
              <div *ngIf="f.dealOwnerMobile.errors.required">
                Deal Owner Mobile is required.
              </div>
              <div *ngIf="f.dealOwnerMobile.errors.maxLimit">Please enter valid mobile number!</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-form-label">Organization GST</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <input
              type="text"
              class="form-control"
              formControlName="gst"
              placeholder="Enter GST ID"
            />
            <div *ngIf="f.gst.invalid && (f.gst.touched || f.gst.value)"
                 class="input-error-report">
              <div *ngIf="f.gst.errors.required">
                GST is required.
              </div>
            </div>
          </div>

        </div>

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-form-label">Organization PAN</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <input
              type="number"
              class="form-control"
              formControlName="pan"
              placeholder="Enter PAN ID"
            />
            <div *ngIf="f.pan.invalid && (f.pan.touched || f.pan.value)"
                 class="input-error-report">
              <div *ngIf="f.pan.errors.required">
                PAN is required.
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-form-label">Credit Limit</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <input
              type="number"
              class="form-control"
              formControlName="creditLimit"
              placeholder="Enter Credit Limit"
            />
            <div *ngIf="f.creditLimit.invalid && (f.creditLimit.touched || f.creditLimit.value)"
                 class="input-error-report">
              <div *ngIf="f.creditLimit.errors.required">
                Credit Limit is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-form-label">Status</label>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <div class="custom-control custom-radio custom-control-inline">
              <input
                id="active"
                name="status"
                type="radio"
                value="active"
                formControlName="status"
                class="custom-control-input"
                (click)="changeStatus($event)"
              />
              <label for="active" class="custom-control-label">Active</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                id="inactive"
                name="status"
                type="radio"
                value="inactive"
                formControlName="status"
                class="custom-control-input"
                (click)="changeStatus($event)"
              />
              <label for="inactive" class="custom-control-label">Inactive</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                id="suspend"
                name="status"
                type="radio"
                value="suspend"
                formControlName="status"
                class="custom-control-input"
                (click)="changeStatus($event)"
              />
              <label for="suspend" class="custom-control-label">Suspend</label>
            </div>
          </div>
        </div>


        <div class="row justify-content-end pt-4">
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 text-center">
            <button
              type="submit"
              class="btn btn-primary"
            >
              Create
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

