<div class="site-content">

  <div class="row title-cont">
    <div class="col">
      <h1>Permission Management</h1>
    </div>
    <div class="col">
      <div class="text-right">
        <button (click)="router.navigate(['add-permission'])"
                class="btn btn-primary">
          Add Permission
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-cont">
      <div class="product-users-table table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Rank</th>
            <th scope="col">Applicable To</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let permission of permissions; index as i">
            <td>{{i+1}}</td>
            <td>{{permission.name}}</td>
            <td>{{permission.type}}</td>
            <td>{{permission.rank}}</td>
            <td>
              <span class="badge badge-primary mr-1" *ngFor="let role of permission.roles">{{role.roleName}}</span>
            </td>
            <td>{{permission.description}}</td>
            <td>
              <div class="d-flex justify-content-around action-icon">
                <i class="fa fa-edit" aria-hidden="true"
                   (click)="router.navigate(['/edit-permission', permission.permissionId])"></i>
                <i class="fa fa-trash" aria-hidden="true" (click)="open(content)"></i>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
<!--modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do You Want to Delete</p>
  </div>
  <div class="modal-footer">
    <div class="btn-group">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
      <button type="button" class="btn btn-outline-dark">Delete</button>
    </div>
  </div>
</ng-template>

