<div class="site-content">

  <div class="row title-cont">
    <div class="col">
      <h1>Permission Management</h1>
    </div>
    <div class="col">
      <div class="text-right">
        <button (click)="router.navigate(['permissions/add-permission'])"
                class="btn btn-primary">
          Add Permission
        </button>
      </div>
    </div>
  </div>searchPermission
  <div class="row">
    <div class="col table-cont">
      <div class="row ml-3 simtuitive-input">

        <div class="col-3">
          <div class="input-group">
            <input
              type="text"
              placeholder="Search for Permission"
              (input)="searchPermission($event)"
              class="form-control"
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </div>
        </div>
        <!--<label class="col-xl-2 col-lg-2  col-md-12 col-sm-12  col-form-label" style="color:white">Roles</label>-->
        <div class="col-3">
          <div class="input-group">
            <div class="ng-autocomplete form-control search">
              <ng-autocomplete
                [data]="permissionTypes"
                (selected)="onTypeChange($event)"
                (inputCleared)="onTypeChange(null)"
                placeHolder="Filter by Type"
                searchKeyword="keyword"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
              >
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item" style="color:black;"></a>
              </ng-template>
              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>

            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-filter"></i>
              </span>
            </div>
          </div>
        </div>
        <!--<label class="col-xl-2 col-lg-2  col-md-12 col-sm-12  col-form-label" style="color:white">Permission Type</label>-->
        <div class="col-3">
          <div class="input-group">
            <div class="ng-autocomplete form-control search ">
              <ng-autocomplete
                [data]="permissionRoles"
                placeHolder="Filter by Role"
                searchKeyword="roleName"
                [itemTemplate]="itemTemplate1"
                [notFoundTemplate]="notFoundTemplate1"
                (selected)="onRoleChange($event)"
                (inputCleared)="onRoleChange(null)"
              >
              </ng-autocomplete>
              <ng-template #itemTemplate1 let-item>
                <a  [innerHTML]="item.roleName" style="color:black;"></a>
              </ng-template>
              <ng-template #notFoundTemplate1 let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>

            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-filter"></i>
              </span>
            </div>
          </div>
        </div>

       <!-- <div class="col-3">
          <button class="btn apply-btn" (click)="applyFilter()">Apply</button>
        </div>-->
      </div>
      <div class="product-users-table table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Rank</th>
            <th scope="col">Applicable To</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let permission of permissions; index as i">
            <td>{{i + 1}}</td>
            <td>{{permission.name}}</td>
            <td>{{permission.type}}</td>
            <td>{{permission.rank}}</td>
            <td>
              <span class="badge badge-primary mr-1" *ngFor="let role of permission.roles">{{role.roleName}}</span>
            </td>
            <td>{{permission.description}}</td>
            <td>
              <div class="d-flex justify-content-around action-icon">
                <i title="Edit Permission" class="fa fa-edit" aria-hidden="true"
                   (click)="router.navigate(['permissions/edit-permission', permission.permissionId])"></i>
                <i title="Delete Permission" class="fa fa-trash" aria-hidden="true"
                   (click)="requestDelete(permission.permissionId,content)"></i>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<app-pagination (onRequest)="getPermissions($event)" [page]="page" [totalPages]="totalPages"></app-pagination>
</div>
<!--modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do You Want to Delete</p>
  </div>
    <div class="modal-footer">
      <div class="row text-center" style="width: 100%">
        <div class="col">
          <button type="button" class="btn btn-warning" (click)="modal.close('Save click')">Cancel</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="delete()">Delete</button>
        </div>
      </div>
    </div>
</ng-template>

