<div class="site-content">

  <div class="row title-cont">
    <div class="col">
      <h1>Permission Management</h1>
    </div>
    <div class="col">
      <div class="text-right">
        <button (click)="router.navigate(['add-permission'])"
                class="btn btn-primary">
          Add
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col table-cont">
      <div class="product-users-table table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Permission Name</th>
            <th scope="col">Permission Type</th>
            <th scope="col">Applicable To</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Left Panel</td>
            <td>Test</td>
            <td>Client | Admin | Learner</td>
            <td>This permission only </td>
            <td>
              <div class="d-flex justify-content-around action-icon">
                <i class="fa fa-edit" aria-hidden="true"
                   (click)="router.navigate(['/edit-permission', '1223'])"></i>
                <i class="fa fa-trash" aria-hidden="true"></i>
              </div>
            </td>
          </tr>
          <tr *ngFor="let permission of permissions; index as i">
            <td>{{i+1}}</td>
            <td>{{permission.organizationName}}</td>
            <td>{{permission.location}}</td>
            <td>{{permission.location}}</td>
            <td>{{permission.location}}</td>
            <td>
              <div class="d-flex justify-content-around action-icon">
                <i class="fa fa-edit" aria-hidden="true"
                   (click)="router.navigate(['/edit-permission', permission.orgId])"></i>
                <i class="fa fa-trash" aria-hidden="true"></i>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


