<div class="site-content">
  <div class="row">
    <div class="col">
      <h1>Meta</h1>
    </div>
  </div>
<div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
    <div class="step" data-target="#meta">
      <button class="step-trigger">
        <span class="bs-stepper-circle">1</span>
        <span class="bs-stepper-label">Meta</span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step">
      <button class="step-trigger">
        <span class="bs-stepper-circle">2</span>
        <span class="bs-stepper-label">Assessment Details</span>
      </button>
    </div>
    <div class="line"></div>
    <div class="step">
      <button class="step-trigger">
        <span class="bs-stepper-circle">3</span>
        <span class="bs-stepper-label">Modules</span>
      </button>
    </div>
      <div class="line"></div>
      <div class="step">
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">Concepts</span>
        </button>
      </div>
  </div>
  <div class="bs-stepper-content">
    <div id="meta" class="content">
       <app-meta></app-meta>
    </div>
  </div>
</div>
</div>
